html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app {
  font-family: PingFang SC, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-style: normal;
  font-weight: normal;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.jus-start {
  justify-content: flex-start;
}
.space-between {
  justify-content: space-between;
}
